@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center bg-success bg-gradient" >
    <h1 class="display-4">Welcome to our Football Academy Platform</h1>
    <h3> Here where you can see all about your team!!</h3>
    <hr/>
    <div class="container">
        <h5>Have knowledge about your:</h5>
        <ul style="list-style: none;">
            <li>
                <span>Contribution in the field.</span>
            </li>
            <li>
                <span>Stats about your bodymass.</span>
            </li>
            <li>
                <span>Useful details about your teamates too.</span>
            </li>
            <li>
                <span>And finallly has access at your personal stats.</span>
            </li>
        </ul>
    </div>

</div>
